# Dependencies
node_modules/
bun.lock

# Next.js
.next/
out/

# Environment
.env
.env.local
.env.production

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Uploads
upload/

# Build
dist/
build/
